{% extends 'myshop/index.html' %}

{% block body %}
    {% if orders %}
        <div>
            {% for order in orders %}
                <div>
                    <ul>
                        <li>Address: {{ order.delivery_address }}</li>
                        <li>Promocode: {{ order.promocode }}</li>
                        <li>User: {% firstof order.user.first_name order.user.username %}</li>
                    </ul>
                </div>
                <div>
                    <h3>Products in order:</h3>
                    {% for product in order.products.all %}
                        <ul>
                        <li>{{ product.product_name }} for sell {{ product.price }}</li>
                        </ul>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No orders</h3>
    {% endif %}
{% endblock %}