{% extends 'myshop/index.html' %}

{% block title %}
    Products list
{% endblock %}
{% block body %}
    <h1>Products:</h1>
    {% if products %}
        <div>
            {% for elem in products %}
                <div>
                <ul>
                    <li>Name: {{ elem.product_name }}</li>
                    <li>Price: {{ elem.price }}</li>
                    <li>Discount: {% firstof elem.discount 'No discount' %}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No products</h3>
    {% endif %}
    <a href="{% url 'myshop:product_create' %}">Create product</a>
{% endblock %}